pkgbase = wolfetch
	pkgdesc = A tiny, fast system fetch for Linux and BSD
	pkgver = 0.5.0.pre3
	pkgrel = 1
	url = https://github.com/TrueWulf/wolfetch
	arch = x86_64
	license = GPL3
	source = wolfetch-0.5.0.pre3.tar.gz::https://github.com/TrueWulf/wolfetch/archive/refs/tags/v0.5.0-pre.3.tar.gz
	sha256sums = 4934de8eb9de0535eec2f4578aad4b0e735c7db693c2a26e0b4f1aeceeb58f1b

pkgname = wolfetch
