pkgbase = wolfetch
	pkgdesc = A tiny, fast system fetch for Linux and BSD
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/TrueWulf/wolfetch
	arch = x86_64
	license = GPL3
	source = wolfetch-0.5.0.tar.gz::https://github.com/TrueWulf/wolfetch/releases/download/v0.5.0/wolfetch-0.5.0.tar.gz
	sha256sums = 67a8d63a68c11355135d351902b040135437f5973d31e06079097b3edb31fb7d

pkgname = wolfetch
